.tag-sports {
  background: var(--secondary-color);
  color: var(--light-color);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 5px;
  width: 55px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.tag-entertainment {
  background: var(--ent-color);
  color: var(--light-color);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 5px;
  width: 110px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.tag-technology {
  background: var(--tech-color);
  color: var(--light-color);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 5px;
  width: 90px;
  border-radius: 50px;
  margin-bottom: 5px;
}
.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
  padding: 5px 10px;
  font-size: 14px;
}

.two-col-flex {
  display: flex;
}

.column {
  width: 50%;
  padding: 10px;
}
